extends layout

block content
    h1 #{title}
    p Id: #{person.Id}
    p First Name: #{person.Firstname}
    p Last Name: #{person.Lastname}
    p Profession: #{person.Profession}
    p Age: #{person.Age}  